// MIXINS

// BREAKPOINTS 

// Smartphone

  @mixin global__smartphone {
    @media (max-width: 480px) {
        @content;
    }
  }

// Smartphone Landscape
  @mixin global__smartphoneLandscape {
    @media (max-width: 768px) {
        @content;
    }
  }

// Tablets
  @mixin global__tablet {
    @media (max-width: 991px) {
        @content;
    }
  }

// Desktops
  @mixin global__desktop {
    @media (max-width: 1199px) {
        @content;
    }
  }

  // BREAKPOINTS END

  @mixin global__font-smoothing($value: antialiased) {
    @if $value == antialiased {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    @else {
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto;
    }
  }

  @mixin global__box-shadow($shadows...) {
     -webkit-box-shadow: $shadows;
        -moz-box-shadow: $shadows;
             box-shadow: $shadows;
   }
   
  @mixin global__rounded($radius: 0.5em) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }  

// @include opacity(0.5);
@mixin global__opacity($value: 0.5) {
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="$value * 100")";
	filter: alpha(opacity= $value * 100 );
	zoom: 1;
}
  
  @mixin global__keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
  }

  @mixin global__animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
  }

// MIXINS END

// ANIMATIONS

  @include global__keyframes(global__fadein) {
    0%   { 
      @include global__opacity(0); 
    }
    100% { 
      @include global__opacity(1); 
    }
  }

// ANIMATIONS END
