@import './src/SCSS/root/root_library.scss';

body {
  // Styles
  @include root__font-smoothing();

  background-color: $root__White;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
