$root__Navy: rgb(0, 31, 63);
$root__Blue: rgb(0, 116, 217);
$root__Aqua: rgb(127, 219, 255);
$root__Teal: rgb(57, 204, 204);
$root__Olive: rgb(61, 153, 112);
$root__Green: rgb(46, 204, 64);
$root__Lime: rgb(1, 255, 112);
$root__Yellow: rgb(255, 220, 0);
$root__Orange: rgb(255, 133, 27);
$root__Red: rgb(255, 65, 54);
$root__Maroon: rgb(133, 20, 75);
$root__Fuchsia: rgb(240, 18, 190);
$root__Purple: rgb(177, 13, 201);
$root__Black: rgb(17, 17, 17);
$root__Gray: rgb(170, 170, 170);
$root__Grey: rgb(170, 170, 170);
$root__Silver: rgb(221, 221, 221);
$root__White: rgb(248, 248, 248);
